body {
  margin: 0 auto;
}
header {
  background-color: MistyRose;
  height: 20%;
}
main {
  background-color: MistyRose;
  height: 30%;
}
nav {
  display: inline-block;
}
nav li {
  list-style: none;
}
h1 {
  font-size: 20px;
}
